@font-face {
    font-family: "Soleto";
    src: url('../fonts/Soleto-Regular/Soleto-Regular.ttf');
  }
@font-face {
    font-family: "Paralucent";
    src: url("../fonts/Paralucent/Paralucent.ttf");
}
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #25294C;
}

.header__container{
    width: 100vw;
    height: 12.4vh;
    background-color: #fff;
    box-shadow: 0 3px 10px #0000001A;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}
.header__logo{
    margin-left: 9.2vw;
}
.header__logo--img{
    width: 11vw;
}
.header__nav{
    width: 32%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.header__nav--button-faq a{
    width:3vw;
    font-size: 1.55vw;
    font-family: 'Paralucent';
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 1.5vw;
}
.header__span--yellow-button{
    width: 14.8vw;
    display: flex;
    align-items: center;
}
.header__nav--button-yellow, .main__intro--button{
    width:14vw;
    height: 7.5vh;
    font-family: 'Soleto';
    font-size: 1.4vw;
    font-weight: 600;
    text-transform: capitalize;
    background-color: #FFCE06;
    border-radius: 5px;
    border:#FFCE06;
    cursor: pointer;
    transition: .4s ease;
}
.header__nav--button-yellow:hover{
    width:14.8vw;
    height: 8.5vh;
}
.header__nav--button-language{
    width:2.2vw;
    height: 4.4vh;
    font-family: 'Paralucent';
    font-size: 1.1vw;
    font-weight: bolder;
    text-transform: uppercase;
    border-radius: 50%;
    border: 1.5px solid;
    background: none;
    cursor: pointer;
    margin-right: 3vw;
}

.main__container{
    padding-top: 17vh;
}
.main__section--intro-wrapper{
    width: 97%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-image: url('../img/Grupo\ 10149.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 50% auto;
}
.main__intro{
    width: 55%;
    height: 100%;
    padding-left: 9vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main__intro--title{
    font-family: 'Paralucent';
    font-weight: bolder;
    font-size: 3.2vw;
    margin-bottom: 5vh;
}
.main__intro--subtitle{
    width: 80%;
    font-family: 'Soleto';
    font-size: 1.8vw;
    margin-bottom: 2vh;
}
.main__intro--yellow-button{
    width: 100%;
    height: 10vh;
    padding-top: 3vh;
}
.main__intro--button{
    width:16.5vw;
    height: 9vh;
    margin-top: 5vh;
}
.main__intro--button:hover{
    width:17.5vw;
    height: 9.5vh;
}
.main__feature--title-box{
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main__title-box--h1{
    height: 50%;
    font-family: 'Paralucent';
    font-size: 2.8vw;
    font-weight: bolder;
    display: flex;
    align-items: flex-end;
}
.main__title-box--text{
    height: 30%;
    font-family: 'Soleto';
    font-size: 1.7vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}