/*FONTS*/
@font-face {
    font-family: "Soleto";
    src: url('../fonts/Soleto-Regular/Soleto-Regular.ttf');
  }
@font-face {
    font-family: "Paralucent";
    src: url("../fonts/Paralucent/Paralucent.ttf");
}
/*GLOBAL SELECTOR*/
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: #25294C;
    cursor: default;
}
/*SCROLL BAR*/
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
    background: rgb(187, 184, 184); 
}
/*HEADER*/
.header__container{
    width: 100vw;
    height: 12.4vh;
    background-color: #fff;
    box-shadow: 0 3px 10px #0000001A;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    z-index: 999;
}
.header__logo{
    margin-left: 9.2vw;
}
.header__logo--img{
    width: 11vw;
}
.header__nav{
    width: 32%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.header__nav--button-faq a{
    width:3vw;
    font-size: 1.55vw;
    font-family: 'Paralucent';
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 1.5vw;
    cursor: pointer;
}
.header__span--yellow-button{
    width: 14.8vw;
    display: flex;
    align-items: center;
}
.header__nav--button-yellow, .main__intro--button{
    width:14vw;
    height: 7.5vh;
    font-family: 'Soleto';
    font-size: 1.4vw;
    font-weight: 600;
    text-transform: capitalize;
    background-color: #FFCE06;
    border-radius: 5px;
    border:#FFCE06;
    cursor: pointer;
    transition: .4s ease;
}
.header__nav--button-yellow:hover{
    width:14.8vw;
    height: 8.5vh;
}
.header__nav--button-language{
    width:2.2vw;
    height: 4.4vh;
    font-family: 'Paralucent';
    font-size: 1.1vw;
    font-weight: bolder;
    text-transform: uppercase;
    border-radius: 50%;
    border: 1.5px solid;
    background: none;
    cursor: pointer;
    margin-right: 3vw;
}
/*MAIN*/
.main__container{
    padding-top: 17vh;
}
/*main intro*/
.main__section--intro-wrapper{
    width: 97%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-image: url('../img/Grupo\ 10149.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: 50% auto;
}
.main__intro{
    width: 55%;
    height: 100%;
    padding-left: 9vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main__intro--title{
    font-family: 'Paralucent';
    font-weight: bolder;
    font-size: 3.2vw;
    margin-bottom: 5vh;
}
.main__intro--subtitle{
    width: 80%;
    font-family: 'Soleto';
    font-size: 1.8vw;
    margin-bottom: 2vh;
}
.main__intro--yellow-button{
    width: 100%;
    height: 10vh;
    padding-top: 3vh;
}
.main__intro--button{
    width:16.5vw;
    height: 9vh;
    margin-top: 5vh;
}
.main__intro--button:hover{
    width:17.5vw;
    height: 9.5vh;
}
/*STRYTEGY SECTION*/
/*white box*/
.main__feature--title{
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(180deg, #FFFFFF, #FFFAE4 70%);
}
.main__title--h2{
    height: 50%;
    font-family: 'Paralucent';
    font-size: 2.8vw;
    font-weight: bolder;
    display: flex;
    align-items: flex-end;
}
.main__title--text{
    height: 30%;
    font-family: 'Soleto';
    font-size: 1.7vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
/*blue box*/
.main__feature--resources{
    height: 63vh;
    background-color: #22254B;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 8.5vh;
}
.main__resources--img{
    width:34vw;
    margin-right: 5.5vw;
}
.main__resources--img img{
    width: 33vw;
    height: 40vh;
}
.main__resources--text-wrapper{
    width:26vw;
}
.main__resources--h2{
    color: white;
    font-family: 'Paralucent';
    font-size: 3vw;
    padding-bottom: 5vh;
}
.main__resources--p{
    color: #fff;
    font-family: 'Soleto';
    font-size: 1.3vw;
}
/*links menu*/
.main__feature--links-wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
}
.main__links{
    width: 74vw;
    height: 17vh;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px 0px 20px #00000014;
    padding:0 0.5% 0 0.5%;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;
    position: absolute;
}
.main__links a{
    width: 24.99%;
}
.main__links--item{
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.link-div{
    width: 0.2%;
    height: 40%;
    background-color: #22254B;
}
.main__links--item:hover{
    font-weight: 600;
    background-color: #FFCE06;
    border-radius: 5px;
    cursor: pointer;
}
.main__links--p{
    width: 80%;
    font-family: 'Paralucent';
    font-size: 1.6vw;
    text-align: center;
}
/*JOURNEY SECTION*/
.main__section--journey-wrapper{
    height: 77vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.main__journey--img img{
    width: 28vw;
}
.main__journey--text{
    width: 46%;
}
.main__journey--text h2{
    font-family: 'Paralucent';
    font-size: 4.3vw;
    padding: 3.8vh 0;
}
.main__journey--text h3{
    font-family: 'Soleto';
    font-size: 1.8vw;
    font-weight: lighter;
}
/*STRYTEGY SECTION*/
.main__section--strytegy-wrapper{
    width: 100%;
}
.main__strytegy{
    height: 76vh;
    background-color: #22254B;
    display: flex;
    justify-content: center;
}
/*text-blue box*/
.main__strytegy--text-wrapper{
    width:54%;
    height: 100%;
    text-align: center;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main__strytegy--title h2{
    color: #fff;
    font-family: 'Paralucent';
    font-size: 4.1vw;
    font-weight: bolder;
    margin-bottom: 4vh;
}
.main__strytegy--text h3{
    color: #fff;
    font-family: 'Soleto';
    font-size: 1.7vw;
    font-weight: lighter;
    margin-bottom: 18vh;
}
/*main grid*/
.main__strytegy--grid-wrapper{
    width: 100%;
    height: 86.2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}
.main__grid{
    width: 70%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    bottom: 20vh;
}
.main__grid--content-a, .main__grid--content-b{
    width: 22vw;
    font-family: 'Soleto';
    font-size: 1.2vw;
    border: 2px solid #22254B;
    border-radius: 10px;
    background-color: #fff;
    display: flex;
    align-items: center;
}
.main__grid--content-b{
    height: 31.4vh;
}
.main__grid--content-a{
    height: 48.5vh;
}
.main__grid--content-a:hover, .main__grid--content-b:hover{
    transform: scale(1.02);
}
.main__grid--item{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.main__grid--item img{
    width: 14vw;
}
.main__grid--item p{
    text-align: center;
    width: 17.5vw;
}
.item-4, .item-6{
    position: relative;
    top: 3vh;
}
.item-5{
    position: relative;
    bottom:13vh;
}
/*bottom wavy line*/
.main__strytegy--wavy-line{
    height: 96vh;
    display: flex;
    align-items: flex-end;
}
.main__strytegy--wavy-line svg{
    background-color: rgba(83, 33, 196, 0.1);
}
/*FOOTER*/
.footer__container{
    background-image: linear-gradient(rgba(83, 33, 196, 0.1) , rgba(34, 37, 75, 0.1));
}
/*CTA SECTION*/
.footer__section--contact-wrapper{
    height: 90vh;
}
.footer__contact--title, .footer__contact--text, .footer__contact--button{
    height: 33.3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer__contact--title{
    font-family: 'Paralucent';
    font-weight: bold;
    font-size: 2.7vw;
    justify-content: flex-end;
}
.footer__contact--text{
    width: 100%;
}
.footer__text{
    width: 55%;
    font-family: 'Soleto';
    font-weight: 100;
    font-size: 1.7vw;
    text-align: center;
}
.footer__contact--button{
    padding-top: 5vh;
    justify-content: flex-start;
}
.footer__button{
    width: 16.5vw;
    height: 9.1vh;
    background-color: #FFCE06;
    border: #FFCE06;
    border-radius: 5px;
    font-size: 1.5vw;
    font-weight: bolder;
}
/*ABOUT SECTION*/
.footer__section--about-wrapper{
    height: 67.5vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
/*about text*/
.footer__about{
    width: 35vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer__about--title{
    font-size: 1vw;
    font-family: 'Paralucent';
    font-weight: bolder;
}
.footer__about--text{
    font-size: 1.2vw;
    font-family: 'Soleto';
    font-weight: 100;
}
.footer__about-logo{
    font-size: 1.3vw;
    font-family: 'Paralucent';
    display: flex;
    align-items: center;
    
}
.footer__about-logo img{
    width:4vw; 
    height:8.3vh;
    margin-right: 1.5vw;
}
.footer__about-company{
    font-size: 0.9vw;
    font-family: 'Soleto';
    text-transform: uppercase;
}
/*links list*/
.footer__list{
    width: 30vw;
    height:42vh;
    display: flex;
}
.footer__list-wrapper{
    width: 50%;
    font-size: 1vw;
    font-family: 'Paralucent';
    font-weight: bolder;
}
.footer__list-wrapper ul{
    margin-top: 3vh;
}
.footer__list-wrapper li{
    font-size: 1.1vw;
    font-family: 'Soleto';
    font-weight: 100;
    margin-top: 1vh;
    cursor: pointer;
}